body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("water droplets.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #333;
    text-align:center;

}

h2 {
    color: #555;
    margin-top: 20px;
}

.meeting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffe4e1;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}